* {
    font-family: 'Source Sans Pro', sans-serif;
    box-sizing: border-box;
}

#portrait {
    height: 150px;
    width: 150px;
    border-radius: 50%;
}

#mainContent{
    padding-top: 150px;

}

.center {
    display: table;
    margin: 0 auto;
    text-align: center;
}

#nav {
    text-align: center;
}

#nav ul{
    list-style: none;
    padding: 0;
}
#nav li{
    display: inline;
    padding: 5px;
}

#nav li:hover{
    /*color: red;*/
    width: 200px;
}

#about {
    max-width: 400px;
    text-align: justify;
}


.sliding-middle-out {
    display: inline-block;
}
.sliding-middle-out:after {
    content: '';
    display: block;
    margin: auto;
    height: 2px;
    width: 0px;
    background: transparent;
    transition: width .2s ease, background-color 0.2s ease;
}
.sliding-middle-out:hover:after {
    width: 100%;
    background: red;
}

.link{
    color: red;
    text-decoration: none;
}

.link:hover{
    color: red;
}

.link:visited{
    color: red;
}


.project {
    margin: 50px auto;
    width: 80%;
    border-bottom: solid 1px;
    border-color: #999;
}

.projectContent{
    padding: 30px;
    position: relative;
}
.projectImageContainter{
    text-align: center;
    padding: 30px;
}


.projectLanguages {
    color: #999;
}

.projectLinks {
    position: absolute;
    bottom: 10%;
    left: 30px;

}

.projectLinks * {
    margin-right: 5px;
}

.projectDescription{
    margin-bottom: 5%;
}


.projectDescription *{
    margin: 5px;
    margin-left: 0;
}

@media (max-width:770px){
    .projectImageContainter{
        display: none !important;
    }

    .projectLinks {
        position: absolute;
        bottom: 5%;
        left: 30px;
    }
}

.text-link-hover{
    /*font-weight: bold;*/
    text-decoration: underline ;
    font-style: italic;
}

.text-link a{
    text-decoration: none;
    color: black;
}
