#portrait {
    height: 150px;
    width: 150px;
    border-radius: 50%;
}

#content{
    padding-top: 150px;
}

.center {
    display: table;
    margin: 0 auto;
    text-align: center;
}

* {
    font-family: 'Source Sans Pro', sans-serif;
}

#nav {
    text-align: center;
}

#nav ul{
    list-style: none;
    padding: 0;
}
#nav li{
    display: inline;
    padding: 5px;
    color: red;
}

#nav li:hover{
    /*color: red;*/
    width: 200px;
}

a {
    text-decoration: none;
}

a:visited {
    color: inherit;
}


.sliding-middle-out {
    display: inline-block;
}
.sliding-middle-out:after {
    content: '';
    display: block;
    margin: auto;
    height: 3px;
    width: 0px;
    background: transparent;
    transition: width .3s ease, background-color .3s ease;
}
.sliding-middle-out:hover:after {
    width: 100%;
    background: red;
}
