* {
  font-family: 'Nunito', sans-serif;
  box-sizing: border-box;
}

#page-wrap {
  display: table;
  margin: 0 auto;
  text-align: left;
  margin-top: 60px;
  font-size: 15px;
}
//

#nav ul{
  padding: 0;
}

$special-text-color: red;
#nav li{
  font-size: 15px;
  display: inline;
  padding: 0 15px 0 15px;
  border-left: $special-text-color solid 2px;
}

#nav li:first-child{
  padding-left: 0;
  border-left: none;
}

#content {
  max-width: 500px;
  text-align: justify;
}



.text-link-hover{
  text-decoration: underline ;
  font-style: italic;
}

.text-link a{
  text-decoration: none;
}

ul{
  list-style: none;
  padding-left: 0;
}

li{
  margin-bottom: 10px;
}

#projects a{
  color: black;
}

.hover-red-underline:hover{
  background-image: linear-gradient(transparent, transparent 3px, $special-text-color);
}

.hover-red-underline{
  text-decoration: none;
  color: black;
  background-repeat: repeat-x;
  background-position: bottom;
  background-position-x: center;
  background-position-y: bottom;
  background-size: 100% 6px;
  background-image: linear-gradient(transparent , transparent 4px, black);
}

.project-title{
  font-size: 16px;
 font-weight: bolder;
}

.project-content{
  margin-top: 2px;
}

$header-width: 400px;
$img-height: 60px;

#header{
  display: inline-block;
  min-width: $header-width;
}

.sub-header{
  border-bottom: solid 2px $special-text-color;
}

#header-text{
  padding-top: 8px;
  padding-left: 50px;
}

#cactus-wrap{
  height: $img-height;
  float: left;
}

#cactus-img{
  max-height: 100%;
  max-width: 100%;
}

.clear-margin-padding{
  margin: 0;
  padding: 0;
}
//
//.left-align{
//  text-align: left;
//}






//
//.sliding-middle-out {
//  display: inline-block;
//}
//.sliding-middle-out:after {
//  content: '';
//  display: block;
//  margin: auto;
//  height: 2px;
//  width: 0px;
//  background: transparent;
//  transition: width .2s ease, background-color 0.2s ease;
//}
//.sliding-middle-out:hover:after {
//  width: 100%;
//  background: red;
//}

//
//
//.project {
//  margin: 50px auto;
//  width: 80%;
//  border-bottom: solid 1px;
//  border-color: #999;
//}
//
//.projectContent{
//  padding: 30px;
//  position: relative;
//}
//.projectImageContainter{
//  text-align: center;
//  padding: 30px;
//}
//
//
//.projectLanguages {
//  color: #999;
//}
//
//.projectLinks {
//  position: absolute;
//  bottom: 10%;
//  left: 30px;
//
//}
//
//.projectLinks * {
//  margin-right: 5px;
//}
//
//.projectDescription{
//  margin-bottom: 5%;
//}
//
//
//.projectDescription *{
//  margin: 5px;
//  margin-left: 0;
//}
//
//@media (max-width:770px){
//  .projectImageContainter{
//    display: none !important;
//  }
//
//  .projectLinks {
//    position: absolute;
//    bottom: 5%;
//    left: 30px;
//  }
//}
