// Font
$font-size: 14.5px;
$list-title-font-size: 16px;

// Layout
$margin-top: 0px;
$content-width: 500px;
$content-min-width: 200px;

$list-content-margin-top: 1px;
$list-content-margin-bottom: 4px;
$header-min-width: $content-min-width;
$footer-to-bottom: 5px;



// COLORS
$background-color: #5782BB;
$text-color:  #FFFEEC ;
$decorator-color:  #64D7D6;
$name-color: $text-color;
$list-content-color: #E7E9DE;
$email-color: #FE9797;

// Animation timing
$delay: 1s;
$duration: 1s;



* {
  font-family: 'Nunito', sans-serif;
  box-sizing: border-box;
  background-color: $background-color;
  color: $text-color;
}

.sub-header {
  h3{
    margin: 0;
  }
}

html{
  border-top: solid transparent 3px;
  animation: html-border-top $duration;
  animation-delay: $delay;
  animation-fill-mode:forwards;
}

@keyframes html-border-top {
  from{
    border-top: solid transparent 3px;
  }
  to{
    border-top: solid $decorator-color 3px;
  }
}

body{
  margin-top: 10px;
}

#email{
  text-decoration: none;
  color: $email-color;
}


#name h2{
  color: $name-color;
}

#page-wrap {
  display: table;
  margin: 0 auto;
  text-align: left;
  margin-top: $margin-top;
  font-size: $font-size;
}
//
#nav{
  ul{
    padding: 0;
    margin-top: 5px;
  }

  li{
    display: inline;
    padding: 0 20px 0 20px;
  }

  li:first-child{
    padding-left: 0;
  }

  li:not(:first-child){
    border-left: transparent solid 2px;
    animation: $duration li-border-left;
    animation-delay: $delay;
    animation-fill-mode: forwards;
  }

  @keyframes li-border-left {
    from{
      border-left: transparent solid 2px;
    }
    to{
      border-left: $decorator-color solid 2px;
    }

  }
}


#content {
  max-width: $content-width;
  min-width: $content-min-width;
  text-align: justify;
}

.text-link-hover{
  text-decoration: underline ;
  font-style: italic;
}

.text-link a{
  text-decoration: none;
}

ul{
  list-style: none;
  padding-left: 0;
}

li{
  margin-bottom: 10px;
}

.hover-red-underline:hover{
  background-image: linear-gradient(transparent, transparent 2px, $decorator-color);
}

.hover-red-underline{
  text-decoration: none;
  background-repeat: repeat-x;
  background-position: bottom;
  background-position-x: center;
  background-position-y: bottom;
  background-size: 100% 6px;
  background-image: linear-gradient(transparent , transparent 2px, $text-color);
}


$list-margin-bottom: 2px;
.list{
  margin-bottom: $list-margin-bottom;
}

.list-title{
  font-size: $list-title-font-size;
 font-weight: bolder;
}

.list-content{
  margin-top: $list-content-margin-top;
  margin-bottom: $list-content-margin-bottom;
  color: $list-content-color;
}

#header{
  display: inline-block;
  min-width: $header-min-width;
}

@keyframes sub-header-border-appear{
  from{border-left: solid 6px transparent;}
  to{border-left: solid 6px $decorator-color;}
}

@keyframes sub-header-title-fly-in {
  from{left: -10px}
  to{left: 0}
}

.sub-header{
  border-left: solid 6px transparent;
  padding-left: 8px;
  animation: sub-header-border-appear $duration;
  animation-delay: $delay;
  animation-fill-mode:forwards;
}

.clear-margin-padding{
  margin: 0;
  padding: 0;
}


@media only screen and (max-width: 500px) {
  footer{
    visibility: hidden;
  }
  .list-content{
    display: block;
  }

  #links{
    height:0;
  }

  #nav ul{
    visibility: hidden;
  }
}

footer{
  border-top: transparent solid 1px;
  position: absolute;
  bottom: $footer-to-bottom;
  animation: footer-border-top $duration;
  animation-delay: $delay;
  animation-fill-mode: forwards;
}

@keyframes footer-border-top {
  from{border-top: transparent solid 1px;}
  to{border-top: $decorator-color solid 1px;}
}