$margin-top: 0px;
$content-width: 500px;
$content-min-width: 200px;

$font-size: 14.5px;
$list-title-font-size: 16px;

$list-content-margin-top: 1px;
$list-content-margin-bottom: 4px;

$header-min-width: $content-min-width;
$cactus-height: 50px;
$cactus-margin-top:8px;

$footer-to-bottom: 5px;

$background-color: black;
$text-color: white;
$decorator-color: red;

$list-content-color: lightgray;

* {
  font-family: 'Nunito', sans-serif;
  box-sizing: border-box;
  background-color: $background-color;
  color: $text-color;
}

#name h2{
  color: $decorator-color;
}

#page-wrap {
  display: table;
  margin: 0 auto;
  text-align: left;
  margin-top: $margin-top;
  font-size: $font-size;
}
//

#nav ul{
  padding: 0;
}


#nav li{
  display: inline;
  padding: 0 15px 0 15px;
  border-left: $decorator-color solid 2px;
}

#nav li:first-child{
  padding-left: 0;
  border-left: none;
}

#content {
  max-width: $content-width;
  min-width: $content-min-width;
  text-align: justify;
}

.text-link-hover{
  text-decoration: underline ;
  font-style: italic;
}

.text-link a{
  text-decoration: none;
}

ul{
  list-style: none;
  padding-left: 0;
}

li{
  margin-bottom: 10px;
}

#projects ul{
  //margin-bottom: 2px;
}

.hover-red-underline:hover{
  background-image: linear-gradient(transparent, transparent 2px, $decorator-color);
}

.hover-red-underline{
  text-decoration: none;
  //color: black;
  background-repeat: repeat-x;
  background-position: bottom;
  background-position-x: center;
  background-position-y: bottom;
  background-size: 100% 6px;
  background-image: linear-gradient(transparent , transparent 2px, $text-color);
}

$list-margin-bottom: 2px;
.list{
  margin-bottom: $list-margin-bottom;
}

.list-title{
  font-size: $list-title-font-size;
 font-weight: bolder;
}

.list-content{
  margin-top: $list-content-margin-top;
  margin-bottom: $list-content-margin-bottom;
  color: $list-content-color;
}

#header{
  display: inline-block;
  min-width: $header-min-width;
}

.sub-header{
  border-bottom: solid 2px $decorator-color;
}

#header-text{
  padding-top: 8px;
  padding-left: 50px;
}

#cactus-wrap{
  height: $cactus-height;
  margin-top: $cactus-margin-top;
  float: left;
}

#cactus-img{
  max-height: 100%;
  max-width: 100%;
}

.clear-margin-padding{
  margin: 0;
  padding: 0;
}


@media only screen and (max-width: 500px) {
  body {
    //background-color: lightblue;
    //margin: 0;
  }
  footer{
    visibility: hidden;
  }
  .list-content{
    display: block;
  }

  #links{
    height:0;
  }

  #nav ul{
    visibility: hidden;
  }
}

footer{
  border-top: $decorator-color solid 1px;
  position: absolute;
  bottom: $footer-to-bottom;
}
